body{
    background-color: red;
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    height: 100px;
}
.mainContainer{
    border: solid  white;
    height: 95vmin;
    width: 95vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameBoard{
    display: flex;
    align-items: flex-end;
    
    
    background-color: black;
    height: 800px;
    width: 800px;
}
.rowContainer{
    display: flex;
     flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid green;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid green;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid green;
}
.tunnel{
    background-image: url("https://themodelesstraveled.files.wordpress.com/2015/03/floo-powder.jpeg");
    background-size: 90% 100%;
    z-index: 100px;
    border: solid  magenta;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.voldemort{
    display: none;
    
    height: 90px;
    width: 90px;
}
.harry{
      display: block;
    
      height: 90px;
      width: 90px;
}
